
.landing-container {
    padding-top: 100px;
    display: grid;
}

.img-bg, .jumbotron {
    grid-column: 1;
    grid-row: 1;
}

//image background
.img-bg{

    background-color: black;

    img{
        position: relative;
        width: 100%;
        opacity: .5;
        height: 100vh;
    }

 } 


 //info 
 .jumbotron {
    height: 90%;
    width: 100%;
    position: relative;
    display: table; 
    text-align: center;

 }

 .jumbo-info {
    padding: 0;
    display: table-cell;
    vertical-align: middle;  

    h1 {
        font-size: 2em;
        font-weight: bold;
        color: white;
    }

    a {
        text-decoration: none;
    }

 }

 .extra-info {
    margin-top: 15px;
    color: white;
    
    p {
        margin-top: 10px;
    }
 }

 #jumbo-title:hover {
    text-shadow: -1px 0 #003366, 0 1px #003366, 1px 0 #003366, 0 -1px #003366;
 }